@import url('https://fonts.googleapis.com/css?family=Lora|Playfair+Display+SC&display=swap');

@font-face {
  font-family: 'Camphor';
  src: url('CamphorPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Camphor Heavy';
  src: url('CamphorPro-Heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Camphor Light';
  src: url('CamphorPro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables! */
:root {
  --bg-color: #f9f9f9;
  --muted-color: #999;
  --link-color: #3783ff;
  --green: hsl(123, 57%, 45%);
  --orange: #fca469;
  --red: hsl(360, 83%, 62%);
  /* Typography */
  --font-ui: "Camphor Light", Inter, Helvetica, sans-serif;
  --font-main: "Camphor", Arial, Helvetica, sans-serif;
  --weight-regular: 400;
  --weight-bold: 700;
  /* Fluid type */
  --min-fs: 1.0625;
  --max-fs: 1.25;
  --min-vw: 20;
  --max-vw: 45;
  --min-fs-rem: var(--min-fs) * 1rem;
  --max-fs-rem: var(--max-fs) * 1rem;
  --min-vw-rem: var(--min-vw) * 1rem;
  --slope: (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw));
  /* Layout */
  --nav-width: 8.75rem;
  --gutter: 12px;
  --spacer-1: 8px;
  --spacer-2: 16px;
  --spacer-3: 24px;
  --spacer-4: 36px;
  --spacer-5: 48px;
  --spacer-6: 60px;
  --spacer-7: 92px;
  --spacer-8: 136px;
  --type-scale--3: .625rem;
  --type-scale--2: 0.8125rem;
  --type-scale--1: 0.9375rem;
  --type-scale-0: 1.0625rem;
  --type-scale-1: 1.25rem;
  --type-scale-2: 1.4375rem;
  --type-scale-3: 1.625rem;
  --type-scale-4: 1.875rem;
  --type-scale-5: 2.125rem;
  --type-scale-6: 2.5rem;
  --type-scale-7: 2.875rem;
  --type-scale-8: 3.25rem;
  --type-scale-9: 3.75rem;
  --type-scale-10: 4.25rem;
  --type-scale-11: 5rem;
  --type-scale-12: 5.75rem;
  /* border-radius */
  --radius: 4px;
  --radius-sm: 0.1875em;
  --radius-md: 0.375em;
  --radius-lg: 0.75em;
  /* timing functions */
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Box sizing rules. Reset from: 'https://codepen.io/andybelldesign/pen/Ygmwym.css' */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
dd,
figure,
figcaption,
dl,
dd,
dt {
  margin: 0px;
  padding: 0px;
}

/* Inherit colors */
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  color: currentColor;
}

/* Set HTML color-scheme value based on current theme */
html {
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme=dark] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
  }
}

body {
  /* Hide persistent scrollbar in IE (10/11) and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Anchor links will transition rather than skip */
  scroll-behavior: smooth;
  /* Reset font size to 1rem, in case it has a pixel value */
  font-size: 1rem;
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.215em;
}

abbr[title] {
  cursor: help;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.215em;
}

/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
  display: none;
}

/* Normalize form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
sup {
  line-height: normal;
}

/* Make a search box appear like a text box */
input[type='search'] {
  -webkit-appearance: textfield;
}

/* Make images responsive */
img {
  max-width: 100%;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

/* Reset over*/

/* Medium.css */
h1,
h2,
p,
i,
a,
table caption,
time,
label,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

table caption,
footer h2 {
  font-family: var(--font-ui);
}

p,
i,
a,
time,
span,
ul,
ol,
label,
select,
figcaption,
figcaption a {
  font-family: var(--font-main);
  font-size: calc(var(--type-scale--1) + .25vw);
  font-size: clamp(var(--min-fs-rem), var(--min-fs-rem) + var(--slope), var(--max-fs-rem));
  letter-spacing: -0.03px;
  /* line-height: calc(1.5em + .244vw); */
  line-height: 1.6;
  text-wrap: pretty;
}

small {
  display: inline;
  font-variant-caps: all-small-caps;
  font-size: inherit;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

a {
  text-decoration: underline;
}

/* Custom anchor tags */
span.anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

a.anchor {
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  padding: .35em .05em;
  margin-left: .5rem;
}

a.anchor:after {
  color: #767676;
  text-decoration: none;
  content: '\0023';
  display: inline-block;
}

a.anchor:hover:after {
  color: #106fc6;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #006fc6), color-stop(30%, #2ca2d3), color-stop(85%, #006fc6), to(#006fc6));
  background-image: -o-linear-gradient(left, #006fc6 0, #2ca2d3 30%, #006fc6 85%, #006fc6 100%);
  background-image: linear-gradient(90deg, #006fc6 0, #2ca2d3 30%, #006fc6 85%, #006fc6 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1 {
  font-family: "Camphor Heavy", var(--font-main);
  font-size: calc(var(--type-scale-6) + .25vw);
  font-size: clamp(var(--type-scale-5), 1.467rem + 3.913vw, var(--type-scale-6));
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-ui), var(--font-main);
  margin: var(--spacer-4) 0 var(--spacer-2) 0;
  font-size: calc(var(--type-scale-4) + .25vw);
  /* font-size: clamp(var(--type-scale-4), 1.467rem + 3.913vw, var(--type-scale-5)); */
  font-weight: var(--weight-regular);
  text-wrap: balance;
}

h3 {
  font-family: var(--font-ui), var(--font-main);
  font-size: calc(var(--type-scale-3) + .05vw);
  /* font-size: clamp(var(--type-scale-3), 1.467rem + 3.913vw, var(--type-scale-4)); */
  font-weight: var(--weight-regular);
  padding: 0;
  text-align: left;
  letter-spacing: -0.45px;
  margin: var(--spacer-4) 0 var(--spacer-1) 0;
  text-wrap: balance;
}

h4 {
  font-family: var(--font-ui), var(--font-main);
  font-size: calc(var(--type-scale-2) - .25vw);
  /* font-size: clamp(var(--type-scale-2), 1.467rem + 3.913vw, var(--type-scale-3)); */
  font-weight: var(--weight-regular);
  margin: var(--spacer-2) 0 var(--spacer-1) 0;
}

h5 {
  font-family: var(--font-ui), var(--font-main);
  font-size: calc(var(--type-scale-1) + .25vw);
  font-size: clamp(var(--type-scale-1), 1.467rem + 3.913vw, var(--type-scale-2));
  font-weight: var(--weight-regular);
  margin: var(--spacer-2) 0 var(--spacer-1) 0;
}

article>blockquote,
article>q {
  overflow-wrap: break-word;
  background: rgb(26, 115, 232);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.4em;
  font-size: clamp(var(--type-scale-3), 1.467rem + 3.913vw, var(--type-scale-4));
  width: 100%;
  font-family: var(--font-main);
  margin: var(--spacer-4) 0 var(--spacer-2);
}

article>q {
  font-family: "Camphor Heavy", var(--font-main);
  font-size: calc(var(--type-scale-2) + .25vw);
}

article>blockquote::before {
  font-family: 'Playfair Display SC', Arial, Helvetica, sans-serif;
  content: "“";
  color: rgba(0, 0, 0, 0);
  font-size: var(--type-scale-10);
  letter-spacing: -0.25px;
  display: block;
  margin: 0;
  line-height: 1;
}

article>blockquote::after {
  content: '';
}

article>blockquote p {
  line-height: calc(1.6em + .2vw);
  font-style: italic;
}

article>blockquote footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
}

blockquote p:last-of-type {
  margin-bottom: .25em;
}

code {
  background: rgba(0, 0, 0, .05);
  border-radius: 2px;
  padding: 3px 5px;
  word-wrap: break-word;
}

.rounded,
.radius-lg {
  border-radius: 6px;
}

ul>ul {
  margin-top: .5em;
  margin-bottom: .5em;
  list-style: none;
}

li {
  margin-top: .5em;
  margin-bottom: .5em;
  list-style-position: outside;
}

mark,
.highlighted {
  background: #7DFFB3;
}

article>div.article-hero:first-of-type {
  margin: var(--spacer-7) 0 var(--spacer-4);
}

article>p:first-of-type:first-letter {
  font-family: "Camphor Heavy", var(--font-main);
  font-weight: var(--weight-regular, 400);
  font-size: clamp(3rem, 5vw, 4.25rem);
  line-height: 0.9;

  text-transform: uppercase;
  display: block;
  float: none;
  position: relative;

  margin-right: .4rem;
  margin-top: .1rem;
  margin-bottom: -0.2rem;

  -webkit-font-feature-settings: "init" 1;
  font-feature-settings: "init" 1;
  -webkit-initial-letter: 2;
  initial-letter: 2;
  /*  margin-inline-end: 0.2rem;*/
  margin-block-start: 0.0625rem;
}

.article-hero>* {
  text-align: center;
}

.article-category {
  color: hsl(225, 57%, 67%);
  margin: 0 0 1rem;
  font-size: calc(.85rem + .25vw);
  font-size: clamp(var(--type-scale--1), 1.467rem + 3.913vw, var(--type-scale-0));
  text-transform: uppercase;
}

.article-title {
  font-family: "Camphor Heavy", 'Playfair Display SC', serif;
  margin: 0;
  font-size: calc(var(--type-scale-6) + .25vw);
  font-size: clamp(var(--type-scale-5), 1.467rem + 3.913vw, var(--type-scale-6));
}

.article-subtitle {
  font-family: var(--font-ui), 'Playfair Display SC', serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: calc(1.25rem + .25vw);
  font-size: clamp(var(--type-scale-1), 1.467rem + 3.913vw, var(--type-scale-2));
  margin: 1rem 0 0;
  font-weight: normal;
}

/* Navbar styles */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow-x: auto;
  margin: var(--gutter) 0;
  padding: 0 var(--gutter);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.nav__item {
  display: inline-block;
  margin-right: 0.5em;
  color: var(--muted-color);
  border-radius: var(--radius);
  font-family: var(--font-ui);
  font-weight: var(--weight-regular);
  font-size: var(--type-scale-1);
  background-color: transparent;
  text-decoration: none;
}

a.nav__item:hover,
a:not([class]):hover {
  color: var(--link-color);
}

.nav__divider {
  display: none;
}

/* General styling - adapted from https://tinyurl.com/yy8ycg4v */
article,
footer {
  display: -ms-grid;
  display: grid;
  /*  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;*/
  -ms-grid-columns: 1fr 1fr 10px 75ch 10px 1fr 1fr;
  grid-template-columns: 1fr 1fr 10px 75ch 10px 1fr 1fr;
  background: rgba(255, 255, 255, 1);
}

article>*,
footer>* {
  -ms-grid-column: 4;
  grid-column: 4;
  min-width: 0;
}

footer {
  margin: var(--spacer-6) auto 0;
}

article>p,
article>section,
section p+p,
article li p {
  margin-top: var(--spacer-2);
  margin-bottom: var(--spacer-1);
  display: inline;
}

article>figcaption+p {
  margin-top: var(--spacer-3);
}

article>h2+p,
article>h3+p {
  /* Paragraphs following an H2 don't need a margin-top */
  margin-top: 0;
}

article>p:first-of-type {
  padding-top: var(--spacer-6);
}

article>figcaption+p:first-of-type,
article>figure+p:first-of-type {
  padding-top: var(--spacer-2);
}

/* FocuCSSingly */
a,
button,
input,
select,
submit,
textarea,
[tabindex]:not([tabindex="-1"]) {
  outline: 2px solid transparent;
  outline-offset: 5px;
  -webkit-transition: outline-offset .2s linear;
  -o-transition: outline-offset .2s linear;
  transition: outline-offset .2s linear;
}

a:focus,
button:focus,
input:focus,
select:focus,
submit:focus,
textarea:focus,
[tabindex]:not([tabindex="-1"]):focus {
  outline-color: currentColor;
  outline-offset: 2px;
}

/* Article typography */
article p,
article ul,
article ol,
footer>ol,
article a,
article cite,
article>aside {
  font-family: var(--font-main);
  font-weight: var(--weight-regular);
  font-style: normal;
  font-size: calc(1.125rem + .25vw);
  line-height: calc(1.5em + .2vw);
  letter-spacing: -.003em;
  color: rgba(0, 0, 0, .84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern";
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}

article>ul,
article>ol,
footer>ol {
  padding-left: clamp(.5rem, var(--gutter), 2.375rem);
  margin-left: clamp(.625rem, var(--gutter), 2rem);
  list-style-position: inside;
}

article>h2+h3,
article>h2+h4 {
  margin-top: 0;
}

html,
input,
textarea {
  -webkit-font-smoothing: antialiased;
}

article>aside {
  margin: var(--spacer-1) 1rem;
  grid-column: 5 / 7;
  font-family: var(--font-main);
  font-weight: var(--weight-regular);
  font-style: normal;
  font-size: calc(1.125rem + .25vw);
  line-height: 1.6;
  letter-spacing: -.003em;
  color: rgba(0, 0, 0, .84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

article>aside,
article>aside * {
  font-family: var(--font-main);
  color: #666;
  font-size: calc(.8rem + .25vw);
}

.caps {
  text-transform: uppercase;
}

.mid-size {
  grid-column: 2 / -2;
  margin: var(--spacer-2) 0;
}

.full-bleed {
  width: fit-content;
  grid-column: 1 / -1;
  z-index: 1;
  /* Hides the nav menu */
  margin: var(--spacer-2) auto;
  height: max-content;
}

img.full-bleed {
  height: auto;
}

.right {
  text-align: right;
}

/* overflow items */
:where(.item-full-width, .item-overflow, .item-overflow-left, .item-overflow-right, .item-left, .item-right) img {
  width: 100%;
}

.item-full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@media (min-width: 48rem) {

  .item-left,
  .item-right,
  .item-overflow-left,
  .item-overflow-right {
    width: 45%;
  }

  .item-left,
  .item-overflow-left {
    float: left;
    margin-right: var(--spacer-2);
  }

  .item-right,
  .item-overflow-right {
    float: right;
    margin-left: var(--spacer-2);
  }
}

article>img,
article>picture {
  width: auto;
  margin: 0 auto;
}

article>picture {
  margin: var(--spacer-2) auto;
}

article>picture cite {
  font-style: normal;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

pre {
  color: #e2e8f0;
  background-color: #2d3748;
  border-radius: .375rem;
  padding: var(--spacer-2) var(--spacer-2);
  width: 100%;
  line-height: 28px;
  font-size: calc(10px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  overflow: auto;
  white-space: pre-wrap;
}

pre:before {
  content: "E.G.";
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

pre>code {
  padding: 0;
}

article>figure {
  margin: var(--spacer-3) 0 var(--spacer-2);
  display: flex;
  flex-direction: column-reverse;
}

article>h2+figure,
article>h3+figure {
  margin-top: var(--spacer-2);
}

section figure:not([.item-left])+p,
section figure:not([.item-right])+p {
  margin-top: var(--spacer-1);
}

blockquote cite,
figcaption,
figcaption a {
  color: #718096;
  font-family: var(--font-ui), var(--font-main);
  font-size: calc(.75rem + .25vw);
  font-size: clamp(var(--type-scale-0), 1.467rem + 3.913vw, var(--type-scale-1));
}

blockquote cite {
  float: right;
  text-align: right;
  font-style: normal;
}

figcaption {
  font-size: calc(.75rem + .25vw);
  font-size: clamp(var(--type-scale--2), 1.467rem + 3.913vw, var(--type-scale--1));
  margin: var(--spacer-1) 0;
}

figcaption a {
  font-size: inherit;
}

/* Toggles ☑️ */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

  input[type=checkbox],
  input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    -o-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }

  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    -o-transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }

  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type=checkbox]:disabled+label,
  input[type=radio]:disabled+label {
    cursor: not-allowed;
  }

  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type=checkbox]:focus,
  input[type=radio]:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
    box-shadow: 0 0 0 var(--focus);
  }

  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }

  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }

  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }

  input[type=checkbox]+label,
  input[type=radio]+label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }

  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    -ms-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }

  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }

  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }

  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    -ms-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
  }

  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }

  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    -ms-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }

  input[type=radio]:checked {
    --s: .5;
  }
}

footer div:not([class]) {
  /* grid-column: 1/-1; */
  margin: var(--gutter) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer p a:not([class]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon {
  width: 16px;
  margin-right: .5em;
  display: inline-block;
}

/** Initializing a `footnotes` counter on the wrapper */
article {
  counter-reset: footnotes;
}

/**
   * Inline footnotes references
   * 1. Increment the counter at each new reference
   * 2. Reset link styles to make it appear like regular text
  */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

a[href^="#"] {
  text-decoration: none;
}

[aria-describedby="footnote-label"]::after {
  /* content: '[' counter(footnotes) ']'; */
  content: counter(footnotes);
  line-height: 0;
  vertical-align: super;
  font-size: var(--type-scale--3);
  margin-left: 2.5px;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

/* Resetting the default focused styles on the number */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/* Highlight target note */
footer :target {
  background: yellow;
}

/* Visually hidden yet accessible content */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* More screen-reader styles */
mark::before,
mark::after,
del::before,
del::after,
ins::before,
ins::after,
s::before,
s::after {
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end stricken text] ";
}

/* Screen-reader styles in another language */
*[lang=es] mark::before {
  content: " [resaltar inicio] ";
}

*[lang=es] mark::after {
  content: " [resaltar final] ";
}

/* Windows High Contrast Mode styles */
@media screen and (-ms-high-contrast: active) {
  mark {
    color: HighlightText;
    background-color: Highlight;
  }

  ins {
    border-bottom-color: Highlight;
  }

  s {
    -webkit-text-decoration-color: Highlight;
    text-decoration-color: Highlight;
  }
}

/* Print styles (don't forget about print styles!) */
@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
    /* Append the full URL after a link if printed */
  }

  mark {
    border: 1pt dotted #000;
  }

  ins {
    border-bottom-width: 3pt;
  }
}

.header-tag>img {
  height: 0.25rem;
  margin: 0rem;
  float: left;
  width: auto;
}

.header-tag {
  margin: var(--spacer-4) 0 var(--spacer-1) 0;
}

.header-tag+* {
  margin-top: var(--spacer-1);
}

/* Basic table styles */
table {
  border-collapse: collapse;
  /*  width: max(65rem, 100%);*/
  /*      width: 100%;*/
  table-layout: fixed;

  font-family: var(--font-main);
  line-height: calc(1.5em + .2vw);
}

th,
caption {
  text-align: start;
}

caption {
  margin-block: 0.75rem;
}

thead th:not(:first-child),
td {
  text-align: end;
}

thead {
  -webkit-border-after: 2px solid;
  border-block-end: 2px solid;
  background: whitesmoke;
}

tfoot {
  border-block: 2px solid;
  background: whitesmoke;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 0.25rem 0.75rem;
  vertical-align: baseline;
}

th:first-child {
  position: sticky;
  inset-inline-start: 0;
  -webkit-border-end: none;
  border-inline-end: none;
}

tbody th {
  background: white;
}

thead th,
tfoot th {
  background: whitesmoke;
}

thead th {
  vertical-align: bottom;
}

td:first-of-type,
:where(thead, tfoot) th:nth-child(2) {
  /*      border-inline-start: none;*/
}

th:first-of-type {
  width: 10rem;
}

th:first-child::after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 1px;
  height: 100%;
  background: lightgrey;
}

td a {
  font-size: inherit;
}

/* For the shadow: https://adrianroselli.com/2020/01/fixed-table-headers.html */
.wrapper {
  overflow: auto;
  padding: 0;
  margin: 0;
}

div[tabindex="0"][aria-labelledby][role="region"] {
  background:
    -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), to(rgba(255, 255, 255, 0))),
    -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(70%, white)) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background:
    -o-linear-gradient(left, transparent 30%, rgba(255, 255, 255, 0)),
    -o-linear-gradient(left, rgba(255, 255, 255, 0), white 70%) 0 100%,
    -o-radial-gradient(0% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    -o-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background:
    linear-gradient(to right, transparent 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 4em 100%, 4em 100%, 1.4em 100%, 1.4em 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

svg[class*="plot"] {
  color: #656568;
  overflow: visible;
  /* letter-spacing: -0.15px; */
  text-rendering: optimizeLegibility;
  font-family: var(--font-ui), var(--font-main);
}

svg[class*="plot"] text {
  font-family: var(--font-ui), var(--font-main);
}

svg[class*="plot"][class*="ramp"] text {
  font-weight: 400;
}

.column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 2px;
  padding: 10px;
  min-width: 200px;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.wrapper footer {
  padding: 0 15px;
}


/* Media Queries - Mobile phones */
@media screen and (max-width: 680px) {
  .columns .column {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }

  .article-category {
    font-size: calc(.8rem + .2vw);
    margin-bottom: .85rem;
  }

  .article-title {
    font-size: calc(var(--type-scale-5) + .25vw);
    line-height: 1.2;
  }

  .article-subtitle {
    font-size: calc(1.1rem + .25vw);
    margin-top: .85rem;
  }

  article>div.article-hero:first-of-type {
    margin: var(--spacer-4) 0 var(--spacer-4);
  }

  article h3 {
    font-size: calc(var(--type-scale-2) + .05vw);
    margin: var(--spacer-2) 0 var(--spacer-1);
  }

  article>q {
    font-size: calc(var(--type-scale-5) + .25vw);
    line-height: calc(var(--type-scale-5) + .2vw);
  }

  p,
  i,
  a,
  time,
  span,
  ul,
  ol,
  label,
  select,
  figcaption,
  figcaption a {
    font-size: calc(var(--type-scale-0) + .25vw);
    /*    line-height: calc(1.5em + .25vw);*/
  }

  article>p+figure {
    margin-top: var(--spacer-3);
  }
}

/* Tablets */
@media screen and (max-width: 770px) {
  .mid-size {
    margin: var(--spacer-1) 0;
  }

  article>p:first-of-type:first-letter {
    float: none;
    display: inline-block;
    font-size: 2.75rem;
    line-height: 1.2;
    margin-right: .3rem;
    margin-top: .2rem;
    initial-letter: 2;
  }
}

@media screen and (max-width: 900px) {

  article,
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1em 1fr 1fr 1fr 1fr 1fr 1em;
    grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1em;
    background: rgba(255, 255, 255, 1);
  }

  article>*,
  footer * {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
    min-width: 0;
    padding: 0;
  }

  footer {
    margin: var(--spacer-4) auto 0;
    -ms-grid-columns: 2rem 1fr 2rem;
    grid-template-columns: 2rem 1fr 2rem;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.4;
  }

  /* The easy way out - hide the nav on smaller screens: */
  .Nav-base {
    display: none;
  }

  .article-category {
    font-size: calc(.8rem + .2vw);
    margin-bottom: .85rem;
  }

  .article-title {
    font-size: calc(var(--type-scale-5) + .25vw);
    line-height: 1.2;
  }

  .article-subtitle {
    font-size: calc(1.1rem + .25vw);
    margin-top: .85rem;
  }

  article>div.article-hero:first-of-type {
    margin: var(--spacer-4) 0 var(--spacer-4);
  }

  article h3 {
    font-size: calc(var(--type-scale-2) + .05vw);
    margin: var(--spacer-2) 0 var(--spacer-1);
  }

  pre {
    padding: var(--spacer-1);
  }

  article>blockquote {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }

  article>q {
    font-size: calc(var(--type-scale-5) + .25vw);
    line-height: calc(var(--type-scale-5) + .2vw);
  }

  p,
  i,
  a,
  time,
  span,
  ul,
  ol,
  label,
  select,
  figcaption,
  figcaption a {
    font-size: calc(var(--type-scale-0) + .25vw);
    font-size: clamp(var(--type-scale-0), 1.467rem + 3.913vw, var(--type-scale-1));
  }

  article>aside {
    margin: 30px 20px;
    /* Todo? */
    grid-column: 2 / -1;
  }

  footer {
    margin-top: 1em;
    -ms-grid-columns: 1em 1fr 1fr 1fr 1fr 1fr 1em;
    grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1em;
  }
}

@media screen and (max-width: 1000px) {
  article>aside {
    margin: 0 auto;
    grid-column: 2/-2;
  }

  article figcaption,
  article figcaption * {
    font-size: calc(.75rem + .25vw);
    font-size: clamp(var(--type-scale--2), 1.467rem + 3.913vw, var(--type-scale--1));
  }

  .columns .column {
    margin-bottom: 5px;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }

  .columns .column:last-child {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .nav {
    display: block;
    position: fixed;
    padding: var(--gutter);
    margin: var(--gutter);
  }

  .nav * {
    font-size: 1.3rem;
    font-size: clamp(var(--type-scale-1), 1.467rem + 3.913vw, var(--type-scale-2));
  }

  .nav__list {
    display: block;
    margin-right: 0;
    margin-bottom: var(--gutter);
    border: none;
  }

  a.nav__item {
    display: block;
    border-radius: var(--radius);
    text-decoration: initial;
  }
}