@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display+SC&display=swap');

/* Box sizing rules. Reset from: 'https://codepen.io/andybelldesign/pen/Ygmwym.css' */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Remove margin and padding from elements */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt {
  margin: 0px;
  padding: 0px;
}

/* Inherit colors */
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  color: currentColor;
}

body {
  /* Hide persistent scrollbar in IE (10/11) and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;

  /* Anchor links will transition rather than skip */
  scroll-behavior: smooth;

  /* Reset font size to 1rem, in case it has a pixel value */
  font-size: 1rem;

  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Elements that dont have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}
/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
  display: none;
}

/* Normalise form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  line-height: normal;
}

/* Make a search box appear like a text box */
input[type='search'] {
  -webkit-appearance: textfield;
}

/* Make images responsive */
img {
  max-width: 100%;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}

/* Reset over*/

/* Local styles */

/* General styling - adapted from https://tinyurl.com/yy8ycg4v */
article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  margin: 4rem auto 4rem;
  background: rgba(255, 255, 255, 1);
}

article > * {
  grid-column: 4;
  min-width: 0;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}

article > blockquote {
  /* Start the blockquote in the 3rd column, then add padding to make it appear to start on the 4th */
  grid-column: 3 / span 2;
  margin: 55px 0 33px 0;
  border-left: 3px solid rgba(0,0,0,.84);
  padding-left: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.4;
}

/* FocuCSSingly */
a, button, input, select, submit, textarea, [tabindex]:not([tabindex="-1"]) {
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline-offset .2s linear;
}

a:focus, button:focus, input:focus, select:focus, submit:focus, textarea:focus, [tabindex]:not([tabindex="-1"]):focus {
  outline-color: currentColor;
  outline-offset: 2px;
}
header{
/*  display: grid;
grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;*/
}
header > *{
/*  grid-column: 4;
min-width: 0;*/
}

/*Article & Font Layout */
article > p,
footer > ol {
  font-weight: 400;
  font-style: normal;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  padding-top: 1rem;
  text-align: justify;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

article > aside {
  margin: 30px 20px;
  color: #666;
  font-size: calc(12px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  grid-column: 5 / -1;
}

article > aside > i,
article > aside > code{
  font-size: calc(12px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
}

article img.mid-size{
  grid-column: 2 / -2;
  margin: 20px 0;
}

img {
  width: 100%;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

pre {
  background: #eee;
  padding: 10px 15px;
  overflow: auto;
}

pre > code {
  padding: 0;
}

figcaption {
  color: #666;
  font-style: italic;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  text-align: center;
  margin-bottom: 4rem;
}

/* Medium.css */
h1,
h2,
p,
i,
a,
time,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 48px;
  font-size: 3rem;
  font-size: calc(36px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-size: calc(18px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  font-weight: 700;
  padding: 0;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
  margin: 2rem 0 0.4em 0; 
}

p, i, a, time {
  font-family: "Lora";
  font-size: calc(14px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  text-decoration: underline;
}

blockquote {
  font-family: 'Playfair Display SC', serif;
  font-size: calc(24px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

code {
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  background: rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 3px 5px;
}

mark, .highlighted {
  background: #7DFFB3;
}

.first-letter,
article > p:first-of-type:first-letter {
  overflow-wrap: break-word;
  font-family: 'Playfair Display SC', serif;
  font-size: calc(70px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
  line-height: 3.75rem;
  display: block;
  position: relative;
  float: left;
  margin: 0px 8px 0 -5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

.subtitle + time{
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
  text-align: right;
  float: right;
}

/* Toggles ☑️*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    /*margin-left: 4px;*/
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}

/* Footnote Counting / Styling */
footer {
  margin-top: 3em;
  padding: 0 1em;
  border-top: 1px solid silver;
}

footer ol {
  padding-left: 20px;
}

  /**
   * Initialiazing a `footnotes` counter on the wrapper
   */
   article {
    counter-reset: footnotes;
  }

  /**
   * Inline footnotes references
   * 1. Increment the counter at each new reference
   * 2. Reset link styles to make it appear like regular text
   */
   [aria-describedby="footnote-label"] {
    counter-increment: footnotes; /* 1 */
    text-decoration: none; /* 2 */
    color: inherit; /* 2 */
    cursor: default; /* 2 */
    outline: none; /* 2 */
  }

  /**
   * Actual numbered references
   * 1. Display the current state of the counter (e.g. `[1]`)
   * 2. Align text as superscript
   * 3. Make the number smaller (since it's superscript)
   * 4. Slightly offset the number from the text
   * 5. Reset link styles on the number to show it's usable
   */
   [aria-describedby="footnote-label"]::after {
    content: '[' counter(footnotes) ']'; /* 1 */
    vertical-align: super; /* 2 */
    font-size: 0.5em; /* 3 */
    margin-left: 2px; /* 4 */
    color: blue; /* 5 */
    text-decoration: underline; /* 5 */
    cursor: pointer; /* 5 */
  }

  /**
   * Resetting the default focused styles on the number
   */
   [aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }

  [aria-label="Back to content"] {
    font-size: 0.8em;
  }

  /**
   * Highlight target note
   */
   footer :target {
    background: yellow;
  }

  /**
   * Visually hidden yet accessible content
   */
   .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    visibility: hidden;
    opacity: 0;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    counter-reset: row -1; /* initializes counter to 0; use -1 for zero-based numbering */
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: .35em;
    counter-increment: row; /* Increase the counter by 1. */
  }
  table tr:nth-child(odd) td {
    background: hsl(210, 36%, 96%);
  }
  table tr:hover td {
    background: hsl(210, 31%, 80%);
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

  /* COLUMN STRUCTURE */
  .wrapper {
    padding: 5px;
    /*max-width: 960px;*/
    margin: 20px auto;
    grid-column: 2/7;
  }

  .wrapper header {
    padding: 0 15px;
  }

  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column {
    flex: 1;
    /*      border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
    min-width: 200px;
  }
  .column:first-child {
    margin-left: 0;
  }
  .column:last-child {
    margin-right: 0;
  }

  .wrapper footer {
    padding: 0 15px;
  }

  @media screen and (max-width: 980px) {
    .columns .column {
      margin-bottom: 5px;
      flex-basis: 40%;
    }
    .columns .column:nth-last-child(2) {
      margin-right: 0;
    }
    .columns .column:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
  @media screen and (max-width: 680px) {
    .columns .column {
      flex-basis: 100%;
      margin: 0 0 5px 0;
    }
  }

  /* Media Queries */
  @media (max-width: 1000px) {
    article > aside {
      margin: 10px 0px;
      color: #666;
      grid-column: 4;
    }

    article > p {
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
    }
  }

  @media (max-width: 900px){ 
    article {
      display: grid;
      grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1em;
      margin: 2rem auto;
      background: rgba(255, 255, 255, 1);
    }

    article > * {
      grid-column: 2 / 7;
      min-width: 0;
    }

    article > figure {
      grid-column: 1 / -1;
      margin: 20px 0;
    }

    article > blockquote {
      /* Start the blockquote in the 3rd column, then add padding to make it appear to start on the 4th */
      grid-column: 2 / span 5;
      margin: 55px 0 33px 0;
      border-left: 3px solid rgba(0,0,0,.84);
      padding-left: 10px;
    }

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      line-height: 1.4;
    }

    article > p,
    footer > ol {    
      font-weight: 400;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: -.003em;
      color: rgba(0,0,0,.84);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }

    article > aside {
      margin: 30px 20px;
      color: #666;
      grid-column: 2 / -1;
    }

    article > aside > i{
      font-size: 0.8rem;
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1300 - 320)));
    }

    article img.mid-size{
      grid-column: 2 / -2;
      margin: 20px 0;
    }
  }
